#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
}

:root {
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 95vw;
}

hr {
  width: 100%;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-width);
  text-align: center;
  align-items: center;
}


.header {
  flex-direction: column;
  margin: 0 auto;
}

.header h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.header h3 {
  margin-bottom: 1rem;
}

.row {
  display: flex;
}

.tooltip {
  padding: 0.75rem;
  font-family: 'Bangers';
  font-size: 1.1rem;
}

.track-info {
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.track-description {
  width: 100%;
}

.track-description h2, h3, h4 {
  margin: 0;
  color: '#fdf0d5';
}

.img-container {
  display: flex;
  width: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.img {
  width: 50%;
  object-fit: cover;
}

.album-img {
  width: 180px;
  height: 180px;
  margin-bottom: 1rem;
}

.award {
  font-size: 18px;
}

.count-up {
  margin-left: 0.6rem;
}

.bar-chart {
  width: 700px;
  height: 500px;
}

.chart-footnote {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.chart-footnote span {
  margin: 0 .2rem 0 .2rem;
  text-decoration: underline;
}

.footer {
  width: 100%;
}

.footer button {
  padding: 0.3rem 0.5rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  font-size: large;
  color: white;
  text-decoration: none;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.rotate {
  animation: rotate 5s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
  font-size: 5rem;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 499px) { 
  .img-container {
    width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header {
    width: 100%;
  }

  .track-info {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .bar-chart {
    width: 450px;
    height: 400px;
  }
}
